.search__content{
  width: 380px;
  background-color: white;
  padding: 10px;
  display: block;
  margin: 10px;
}
.search__text{
  float: left;
  width: 300px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.search__status{
  float: right;
}