.App {
  height: 100vh;
  background-color: #6f8bbb;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.clearfix:after {
  clear: both;
  content: '';
  display: table;
}


.main{
  width: 1200px;
}
